* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    /*Evitar que os elementos aumente de tamanho inesperadamente facilitando o controle da responsividade*/
}

.whatsapp img {
    /*alterar tamanho do icon-whatsapp */
    width: 50px;
    /*largurar do icon*/
}

.whatsapp img:hover {
    width: 60px;
    transition: 0.8s;
}

.whatsapp {
    /*div que guarda o icon whatsapp */
    position: fixed;
    /*posicionamento fixo*/
    right: 25px;
    /*posicionado à direira (25px)*/
    bottom: 25px;
    /*posicionado à 25px do bottom*/
}

.cabecalho {
    background-color: #0D0D0D;
    color: white;
    padding: 1.5rem;
    /*poderia ser 24px*/
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    position: sticky;
    /*posicionamento do heander para */
    left: 0;
    top: 0;
    z-index: 999;
}

.div-logo img {
    width: 20%;
}

.div-button a button {
    width: 5rem;
    padding: 0.5rem;
    background-color: #eff0d5;
    border: none;
    font-weight: 700;
    border-radius: 5px;
    cursor: pointer;
}

.section-01 {
    padding: 9rem;
    background-image: url(Imagens/Boutique\ de\ luxo\ Gucci\ em\ destaque.png);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
    color: white;
}

.div-01 {
    background-color: #C9A227;
    color: white;
    text-align: center;
    font-size: 2rem;
    padding: 1rem;
    width: 25%;
    height: 20rem;
    min-width: 299px;
}

.div-02 {
    padding: 1rem;
    width: 25%;
    height: 20rem;
    min-width: 299px;
    background: linear-gradient(180deg, #01021064 5%, rgba(7, 15, 28, 0.745) 50%), url(Imagens/Gemini_Generated_Image_kt7yynkt7yynkt7y.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;

}

.ul-div01 li a {
    text-decoration: none;
    background-color: #0D0D0D;
    color: white;
    padding: 4px;
    font-size: 1.3rem;
    border-radius: 5px;
}

.ul-div01 li {
    margin: 5px 5px;

}

.fa-solid,
.fa-shirt {
    font-size: 1.3rem;
}

.img-div {
    padding: 3%;
    background-image: url(Imagens/gray-painted-background.jpg);
    background-position: center;
    background-size: cover;
}

.section-02,
.section-04 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    padding: 5rem;
    background-color: #0D0D0D;
    flex-wrap: wrap;
}
.caixa img {
    width: 100% ;
    height:50%;
 
}
.div02{
    background-image: url(Imagens/RP\ Gucci.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

.caixa p {
    margin: 0.5rem;
}

.caixa h2 {
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: red;
}

.caixa button {
    cursor: pointer;
}

.caixa {
    width: 25%;
    height: 22rem;
    background-color: #01021064;
    min-width: 299px;
    font-size: 1.2rem;
    color: white;
    box-shadow: 10px 10px 20px white;
    cursor: pointer;
}

.caixa:hover {
    box-shadow: 12px 12px 12px rgba(7, 15, 28, 0.745);
    transition: 0.8s;
}

.section-03 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 5rem;
    background-color: #0D0D0D;
    color: white;
    flex-wrap: wrap;

}

.div03,
.div04 {
    height: 15rem;
    padding: 1rem;
    text-align: center;
}

.content-text {
    text-align: start;
    margin: 1rem;
    font-weight: 500;
}

.icon-div03 i {
    font-size: 3rem;
    margin-top: 1.2rem;

}

.button-div04 a button {
    padding: 0.5rem;
    background-color: #C9A227;
    color: white;
    font-weight: 600;
    margin: 1rem 0;
}

.img-div {
    background-image: url(Imagens/gray-painted-background.jpg);
    background-position: center;
    background-size: cover;
    padding: 3%;
}
.card04{
    background-image: url(Imagens/ChatGPT\ Image\ 30\ de\ mar.\ de\ 2026\,\ 20_56_15.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}
.card05{
     background-image: url(Imagens/louisvuitton.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}
.card06{
      background-image: url(Imagens/prada.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

.rodape {
    background-color: #0D0D0D;
    padding: 2rem;
    text-align: center;
    font-size: 1.1rem;

}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    flex-wrap: wrap;
}

.social-media {
    padding: 1.5rem;
}

.social-media i {
    color: white;
    font-size: 2em;
    margin: 0.5em;
}

.line {
    width: 60%;
    margin: 0.5rem auto;
    border: none;
    background-color: white;
    height: 2px;
}

.div-list ul li a {
    color: white;
    text-decoration: none;
}

.div-list ul li a:hover {
    color: #C9A227;
    transition: 0.8s;
}

.div-list ul li {
    margin-bottom: 0.7rem;
}

@media (max-width: 600px) {
    .content {
        flex-direction: column;
    }
}